{% extends 'base.html.twig' %}

{% block body %}
    <body>
    <h1 class="panel-header">Migration bibliographie V2</h1>


    <div class="row">
        <!-- begin col-6 -->
        <div class="col-md-6">
            <!-- begin panel -->
            <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
                <div class="panel-body">
                    <form name="appbundle_collection" method="post" class="form-horizontal col-lg-offset-4 col-lg-12">

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.TypeBib) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.TypeBib) }}
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.titreRef) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.titreRef) }}
                            </div>
                        </div>
                        <div class="form-group form-inline" id ="villeEdition">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.villeEdition) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.villeEdition) }}
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.abvSiteMarchande) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.abvSiteMarchande) }}
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.tome) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.tome) }}
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.volume) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.volume) }}
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.pagination) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.pagination) }}
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.dateEdition) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.dateEdition) }}
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.isbn) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.isbn) }}
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.issn) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.issn) }}
                            </div>
                        </div>

                        <hr id="hrEditeur1"/>
                        <div class="form-group form-inline" id="editeur">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.editeur) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.editeur) }}
                            </div>
                        </div>
                        <div class="form-group form-inline" id="paysEditeur">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.paysEditeur) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.paysEditeur) }}
                            </div>
                        </div>
                        <div class="form-group form-inline" id="villeEditeur">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.villeEditeur) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.villeEditeur) }}
                            </div>
                        </div>
                        <div class="form-group form-inline" id="departementEditeur">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.departementEditeur) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.departementEditeur) }}
                            </div>
                        </div>
                        <div class="form-group form-inline" id="communeEditeur">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.communeEditeur) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.communeEditeur) }}
                            </div>
                        </div>
                        <div class="form-group form-inline" id="lieuDitsEditeur">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.lieuDitsEditeur) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.lieuDitsEditeur) }}
                            </div>
                        </div>

                        <hr id="hrEditeur2"/>
                        <div class="form-group form-inline">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.collection) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.collection) }}
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.periodique) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.periodique) }}
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}