{% extends 'base.html.twig' %}

{% block body %}
    <body>
    <h1 class="panel-header">Migration bibliographie V2</h1>


    <div class="row">
        <div class="col-md-8">
            <!-- begin panel -->
            <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
                <div class="panel-body">
                    <form name="appbundle_collection" method="post" class="form-horizontal col-lg-12">

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.TypeBib) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.TypeBib) }}
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.titreRef) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.titreRef) }}
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.bibliographieParent) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.bibliographieParent) }}
                            </div>
                        </div>

                        <div class="form-group form-inline" id="hrVilleEdition1">
                            <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                <hr/>
                            </div>
                        </div>
                        <div class="form-group form-inline" id ="villeEdition">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.villeEdition) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.villeEdition) }}
                            </div>
                        </div>
                        <div class="form-group form-inline" id="hrVilleEdition2">
                            <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                <hr/>
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.abvSiteMarchande) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.abvSiteMarchande) }}
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.tome) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.tome) }}
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.volume) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.volume) }}
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.pagination) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.pagination) }}
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.dateEdition) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.dateEdition) }}
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.isbn) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.isbn) }}
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.issn) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.issn) }}
                            </div>
                        </div>

                        <hr id="hrEditeur1"/>
                        <div class="form-group form-inline" id="editeur">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.editeur) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.editeur) }}
                            </div>
                        </div>

                        <div class="form-group form-inline" id="hrPaysEditeur1">
                            <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                <hr/>
                            </div>
                        </div>
                        <div class="form-group form-inline" id="paysEditeur">
                            <div class="col-sm-12 col-sm-pad">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.paysEditeur) }}
                            </label>
                                {{ form_widget(form.paysEditeur) }}
                            </div>
                        </div>
                        <div class="form-group form-inline" id="hrPaysEditeur2">
                            <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                <hr/>
                            </div>
                        </div>

                        <div class="form-group form-inline" id="hrVilleEditeur1">
                            <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                <hr/>
                            </div>
                        </div>
                        <div class="form-group form-inline" id="villeEditeur">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.villeEditeur) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.villeEditeur) }}
                            </div>
                        </div>
                        <div class="form-group form-inline" id="hrVilleEditeur2">
                            <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                <hr/>
                            </div>
                        </div>

                        <div class="form-group form-inline" id="hrDepartementEditeur1">
                            <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                <hr/>
                            </div>
                        </div>
                        <div class="form-group form-inline" id="departementEditeur">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.departementEditeur) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.departementEditeur) }}
                            </div>
                        </div>
                        <div class="form-group form-inline" id="hrDepartementEditeur2">
                            <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                <hr/>
                            </div>
                        </div>

                        <div class="form-group form-inline" id="hrCommuneEditeur1">
                            <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                <hr/>
                            </div>
                        </div>
                        <div class="form-group form-inline" id="communeEditeur">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.communeEditeur) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.communeEditeur) }}
                            </div>
                        </div>
                        <div class="form-group form-inline" id="hrCommuneEditeur2">
                            <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                <hr/>
                            </div>
                        </div>

                        <div class="form-group form-inline" id="hrLieuDitsEditeur1">
                            <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                <hr/>
                            </div>
                        </div>
                        <div class="form-group form-inline" id="lieuDitsEditeur">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.lieuDitsEditeur) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.lieuDitsEditeur) }}
                            </div>
                        </div>

                        <hr id="hrEditeur2"/>
                        <hr id="hrCollection1"/>
                        <div class="form-group form-inline" id="collection">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.collection) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.collection) }}
                            </div>
                        </div>
                        <hr id="hrCollection2"/>
                        <div class="form-group form-inline">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.num_collection) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.num_collection) }}
                            </div>
                        </div>

                        <hr id="hrPeriodique1"/>
                        <div class="form-group form-inline" id="periodique">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.periodique) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.periodique) }}
                            </div>
                        </div>
                        <hr id="hrPersonne"/>

                        <h3 class="panel-header">Auteur</h3>

                        <div class="form-group form-inline" id="periodique">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.auteur) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.auteur) }}
                            </div>
                        </div>


                        <div class="form-group form-inline" id="hrDirecteur1Auteur1">
                            <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                <hr/>
                            </div>
                        </div>
                        <div class="form-group form-inline" id="directeurAuteur1">
                            <div class="col-sm-12 col-sm-pad">
                                <label class="col-md-3 control-label">
                                    {{ form_label(form.directeur) }}
                                </label>
                                {{ form_widget(form.directeur) }}
                            </div>
                        </div>
                        <div class="form-group form-inline" id="hrDirecteur2Auteur1">
                            <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                <hr/>
                            </div>
                        </div>

                        <div class="form-group form-inline" id="hrOrganisme1Auteur1">
                            <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                <hr/>
                            </div>
                        </div>
                        <div class="form-group form-inline" id="organismeAuteur1">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.organisme) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.organisme) }}
                            </div>
                        </div>

                        <div class="form-group form-inline" id="hrTypeOrganisme1Auteur1">
                            <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                <hr/>
                            </div>
                        </div>
                        <div class="form-group form-inline" id="typeOrganismeAuteur1">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.typeOrganisme) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.typeOrganisme) }}
                            </div>
                        </div>
                        <div class="form-group form-inline" id="hrTypeOrganisme2Auteur1">
                            <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                <hr/>
                            </div>
                        </div>
                        <div class="form-group form-inline" id="hrOrganisme2Auteur1">
                            <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                <hr/>
                            </div>
                        </div>

                        <div class="form-group form-inline" id="hrNationalite1Auteur1">
                            <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                <hr/>
                            </div>
                        </div>
                        <div class="form-group form-inline" id="nationaliteAuteur1">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.nationalite) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.nationalite) }}
                            </div>
                        </div>
                        <div class="form-group form-inline" id="hrNationalite2Auteur1">
                            <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                <hr/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}