{% extends 'base.html.twig' %}

{% block body %}


    <header class="header-body" id="migrationHeader">
        <img class="header-logo-ynov" src="{{ asset('images/Ynov-logo.jpg') }}" alt="Logo Ynov">
        <img class="header-logo-ynov" src="{{ asset('images/artefacts.jpg') }}" alt="Logo Artefacts">
        <h1 class="panel-header title" >Migration bibliographie V2</h1>
    </header>

    {{ bibliographie.titreref }}
    <div class="row">
        <div class="col-md-8 rowcenter">
            <!-- begin panel -->
            <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
                <div class="panel-body">
                    <form name="appbundle_collection" method="post" class="form-horizontal col-lg-12">

                        <button id="modalButton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="display: none;">
                            Launch demo modal
                        </button>
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalTitle"></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" id="modalContent">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" id="cancelButton" data-dismiss="modal">Annuler</button>
                                        <button type="button" class="btn btn-primary" id="addButton" data="">Confirmer</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <input id="book_title" type="text">
                        <button class="btn btn-primary" onclick="persee()">Rechercher sur Persee</button>
                        <div class="form-group" id="book_results">

                        </div>
                        <div class="form-group form-inline">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.TypeBib) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.TypeBib) }}
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.titreRef) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.titreRef) }}
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.bibliographieParent) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.bibliographieParent) }}
                            </div>
                        </div>

                        <div class="form-group form-inline" id="hrVilleEdition1">
                            <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                <hr/>
                            </div>
                        </div>
                        <div class="form-group form-inline" id="villeEdition">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.villeEdition) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.villeEdition) }}
                            </div>
                        </div>
                        <div class="form-group form-inline" id="hrVilleEdition2">
                            <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                <hr/>
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.abvSiteMarchande) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.abvSiteMarchande) }}
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.tome) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.tome) }}
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.volume) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.volume) }}
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.pagination) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.pagination) }}
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.dateEdition) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.dateEdition) }}
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.isbn) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.isbn) }}
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.issn) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.issn) }}
                            </div>
                        </div>

                        <hr id="hrEditeur1"/>
                        <div class="form-group form-inline" id="editeur">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.editeur) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.editeur) }}
                            </div>
                        </div>

                        <div class="form-group form-inline" id="hrPaysEditeur1">
                            <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                <hr/>
                            </div>
                        </div>
                        <div class="form-group" id="paysEditeur">
                            <div class="col-sm-12 col-sm-pad" style="margin-left: 101px;">
                                <label class="col-md-2 control-label">
                                    {{ form_label(form.paysEditeur) }}
                                </label>
                                {{ form_widget(form.paysEditeur) }}
                            </div>
                        </div>
                        <div class="form-group form-inline" id="hrPaysEditeur2">
                            <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                <hr/>
                            </div>
                        </div>

                        <div class="form-group form-inline" id="hrVilleEditeur1">
                            <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                <hr/>
                            </div>
                        </div>
                        <div class="form-group form-inline" id="villeEditeur">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.villeEditeur) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.villeEditeur) }}
                            </div>
                        </div>
                        <div class="form-group form-inline" id="hrVilleEditeur2">
                            <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                <hr/>
                            </div>
                        </div>

                        <div class="form-group form-inline" id="hrDepartementEditeur1">
                            <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                <hr/>
                            </div>
                        </div>
                        <div class="form-group form-inline" id="departementEditeur">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.departementEditeur) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.departementEditeur) }}
                            </div>
                        </div>
                        <div class="form-group form-inline" id="hrDepartementEditeur2">
                            <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                <hr/>
                            </div>
                        </div>

                        <div class="form-group form-inline" id="hrCommuneEditeur1">
                            <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                <hr/>
                            </div>
                        </div>
                        <div class="form-group form-inline" id="communeEditeur">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.communeEditeur) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.communeEditeur) }}
                            </div>
                        </div>
                        <div class="form-group form-inline" id="hrCommuneEditeur2">
                            <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                <hr/>
                            </div>
                        </div>

                        <div class="form-group form-inline" id="hrLieuDitsEditeur1">
                            <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                <hr/>
                            </div>
                        </div>
                        <div class="form-group form-inline" id="lieuDitsEditeur">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.lieuDitsEditeur) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.lieuDitsEditeur) }}
                            </div>
                        </div>

                        <hr id="hrEditeur2"/>
                        <hr id="hrCollection1"/>
                        <div class="form-group form-inline" id="collection">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.collection) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.collection) }}
                            </div>
                        </div>
                        <hr id="hrCollection2"/>
                        <div class="form-group form-inline">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.num_collection) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.num_collection) }}
                            </div>
                        </div>

                        <hr id="hrPeriodique1"/>
                        <div class="form-group form-inline" id="periodique">
                            <label class="col-md-3 control-label">
                                {{ form_label(form.periodique) }}
                            </label>
                            <div class="col-sm-8 col-sm-pad">
                                {{ form_widget(form.periodique) }}
                            </div>
                        </div>
                        <hr id="hrPersonne"/>

                        <h3 class="panel-header" id="auteurHeader">Auteur</h3>

                        <div id="auteurs">
                            <div id="auteur1" class="auteurGroup">
                                <div class="form-group form-inline" id="auteur">
                                    <label class="col-md-3 control-label">
                                        {{ form_label(form.auteur) }}
                                    </label>
                                    <div class="col-sm-8 col-sm-pad">
                                        {{ form_widget(form.auteur) }}
                                    </div>
                                </div>

                                <div class="form-group form-inline" id="hrDirecteur1Auteur">
                                    <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                        <hr/>
                                    </div>
                                </div>
                                <div class="form-group form-inline" id="directeurAuteur">
                                    <div class="col-sm-12 col-sm-pad">
                                        <label class="col-md-3 control-label">
                                            {{ form_label(form.directeur) }}
                                        </label>
                                        {{ form_widget(form.directeur) }}
                                    </div>
                                </div>
                                <div class="form-group form-inline" id="hrDirecteur2Auteur">
                                    <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                        <hr/>
                                    </div>
                                </div>

                                <div class="form-group form-inline" id="hrOrganisme1Auteur">
                                    <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                        <hr/>
                                    </div>
                                </div>
                                <div class="form-group form-inline" id="organismeAuteur">
                                    <label class="col-md-3 control-label">
                                        {{ form_label(form.organisme) }}
                                    </label>
                                    <div class="col-sm-8 col-sm-pad">
                                        {{ form_widget(form.organisme) }}
                                    </div>
                                </div>

                                <div class="form-group form-inline" id="hrTypeOrganisme1Auteur">
                                    <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                        <hr/>
                                    </div>
                                </div>
                                <div class="form-group form-inline" id="typeOrganismeAuteur">
                                    <label class="col-md-3 control-label">
                                        {{ form_label(form.typeOrganisme) }}
                                    </label>
                                    <div class="col-sm-8 col-sm-pad">
                                        {{ form_widget(form.typeOrganisme) }}
                                    </div>
                                </div>
                                <div class="form-group form-inline" id="hrTypeOrganisme2Auteur">
                                    <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                        <hr/>
                                    </div>
                                </div>
                                <div class="form-group form-inline" id="hrOrganisme2Auteur">
                                    <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                        <hr/>
                                    </div>
                                </div>

                                <div class="form-group form-inline" id="hrNationalite1Auteur">
                                    <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                        <hr/>
                                    </div>
                                </div>
                                <div class="form-group form-inline" id="nationaliteAuteur">
                                    <label class="col-md-3 control-label">
                                        {{ form_label(form.nationalite) }}
                                    </label>
                                    <div class="col-sm-8 col-sm-pad">
                                        {{ form_widget(form.nationalite) }}
                                    </div>
                                </div>
                                <div class="form-group form-inline" id="hrNationalite2Auteur">
                                    <div class="col-sm-offset-3 col-sm-8 col-sm-pad">
                                        <hr/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
